@import 'base.scss';

.btn-settings {
  display: flex;
  height: 48px;
  width: 56px;
  color: $white;
  border-radius: 100% 0 0 100%;

  i {
    flex: 1;
  }
}

.icon-arrow-left {
  display: none;
}

.btn-settings.closed {
  &:hover {
    .icon-arrow-left {
      display: inline;
    }
    .icon-settings {
      transform: rotate(20deg);
    }
  }
}

.btn-container-settings.opened {
  transform: translateX(-332px);
  z-index: 6;
}
