@import 'base.scss';

.btn-settings {
  display: flex;
  height: 48px;
  width: 56px;

  i {
    flex: 1;
  }
}

.icon-arrow-left {
  display: none;
}

.btn-settings.closed {
  &:hover {
    .icon-arrow-left {
      display: inline;
    }
    .icon-settings {
      transform: rotate(20deg);
    }
  }
}
