@import './base.scss';

.settings-constrained {
  position: relative;
}

.overlay {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.settings-content {
  position: fixed;
  z-index: 6;
  top: 0;
  right: 0;
  min-width: 300px;
  height: 100vh;
  background-color: $white;
  padding: 16px;
}
