@import './base.scss';

.settings-constrained {
  position: relative;
}

.overlay {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.settings-content {
  position: fixed;
  z-index: 6;
  top: 0;
  right: 0;
  min-width: 300px;
  height: 100vh;
  background-color: $white;
  padding: 16px;
}

/* Theme Palette Selection */
.ThemePalette-colorList {
  display: flex;
  justify-content: space-around;
}

.ThemePalette-colorItem {
  flex-basis: 20%;
  height: 29px;
  border-radius: 4px;

  &.amaranth {
    background-color: $amaranth;
  }

  &.curious-blue {
    background-color: $curious-blue;
  }

  &.lightning-yellow {
    background-color: $lightning-yellow;
  }

  &.mountain-meadow {
    background-color: $mountain-meadow;
  }

  &--icon {
    cursor: pointer;
    display: flex;
    height: 100%;

    .icon-check {
      color: $white;
      margin: auto;
    }
  }
}
