@import 'base.scss';
@import 'mixins.scss';

.l-constrained {
  padding: 8px;
  position: relative;
  @include box-shadow(1px, 1px, 0px, 0px, $mystic);
}

.tweet {
  padding-left: 46px;
}

.retweet-note {
  display: flex;
  color: $pale-sky;
}

.retweet-icon {
  margin-left: -24px;
  width: 24px;
  position: relative;
  float: left;

  .retweeted {
    color: $mountain-meadow;
    transform: translateY(2px) rotate(90deg);
  }
}

.retweet-user-name {
  color: $pale-sky;

  &:hover {
    color: inherit;
    text-decoration: underline;
  }
}

/* TWEET HEADER */
.tweet-header {
  display: flex;
}

.account-link {
  flex: 1 1 auto;

  &:hover {
    .tweet-user-name {
      color: inherit;
      text-decoration: underline;
    }
  }
}

.tweet-img {
  margin-left: -46px;
  margin-right: 10px;
  width: 36px;

  position: relative;
  float: left;
}

.tweet-avatar {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  z-index: 1;
  position: absolute;
}

.tweet-user {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tweet-user-name {
  font-weight: bold;
  color: $black;
}

.tweet-user-handle {
  padding-left: 4px;
  color: $pale-sky;
}

.tweet-time {
  padding-left: 4px;
}

.tweet-time-link {
  color: $pale-sky;
  &:hover {
    color: inherit;
    text-decoration: underline;
  }
}

/* TWEET BODY */
.tweet-text {
  margin: 0;
}

.text-link {
  &:hover {
    text-decoration: underline;
  }
}
