<article>
  <div class="l-constrained">
    <div class="tweet">
      <div class="retweet-note" *ngIf="tweet.retweeted_status">
        <div class="retweet-icon">
          <i class="retweeted material-icons text-size--lg">
            repeat
          </i>
        </div>
        <a href="https://twitter.com/{{ tweet.user.screen_name }}">
          <span class="retweet-user-name">
            {{ tweet.user.name }}
          </span>
        </a>
        <span>&nbsp;Retweeted</span>
      </div>

      <header class="tweet-header">
        <a class="account-link"
            href="https://twitter.com/{{ displayTweet.user.screen_name }}"
            target="_blank">
          <div class="tweet-img">
            <img class="tweet-avatar"
              [src]="displayTweet.user.profile_image_url_https">
          </div>
          <div class="tweet-user">
            <span class="tweet-user-name">{{ displayTweet.user.name }}</span>
            <span class="tweet-user-handle">@{{ displayTweet.user.screen_name }}</span>
          </div>
        </a>
        <time class="tweet-time">
          <a href="https://twitter.com/{{ displayTweet.user.screen_name }}/status/{{ displayTweet.id_str}}"
              target="_blank">
            <span class="tweet-time-link">
              {{ displayTweet.created_at | date: 'dd MMM yyyy' }}
            </span>
          </a>
        </time>
      </header>

      <div class="tweet-body">
        <p class="tweet-text"
            [innerHtml]="displayTweet.text |
                tweetContent: displayTweet.entities">
        </p>
      </div>
    </div>
  </div>
</article>
