<article>
  <div class="l-constrained">
    <div class="tweet">
      <div *ngIf="tweet.retweeted_status">
        <a class="retweet-user-name"
            href="https://twitter.com/{{ tweet.user.screen_name }}">
          {{ tweet.user.screen_name }}
        </a>
        <span>Retweeted</span>
      </div>

      <header class="tweet-header">
        <a class="account-link"
            href="https://twitter.com/{{ displayTweet.user.screen_name }}"
            target="_blank">
          <div class="tweet-img">
            <img class="tweet-avatar"
              [src]="displayTweet.user.profile_image_url_https">
          </div>
          <div class="tweet-user">
            <span class="tweet-user-name">{{ displayTweet.user.name }}</span>
            <span class="tweet-user-handle">@{{ displayTweet.user.screen_name }}</span>
          </div>
        </a>
        <time class="tweet-time">
          <a class="tweet-time-link"
              href="https://twitter.com/{{ displayTweet.user.screen_name }}/status/{{ displayTweet.id_str}}"
              target="_blank">
            {{ displayTweet.created_at | date: 'dd MMM' }}
          </a>
        </time>
      </header>

      <div class="tweet-body">
        <p class="tweet-text"
            [innerHtml]="displayTweet.text |
                tweetContent: displayTweet.entities">
        </p>
      </div>
    </div>
  </div>
</article>
